.navigation-menu {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.navigation-menu__item:first-child .navigation-menu__link {
  border-top: 1px solid $color-nav-border;
}

.navigation-menu__link {
  @include link-reset;
  width: 100%;
  padding: 22px;
  padding-bottom: 23px;
  font-family: $font-secondary;
  font-style: normal;
  font-size: 20px;
  line-height: math.div(20, 20);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: $color-title;
  background-color: $color-background;
  border-bottom: 1px solid $color-nav-border;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: -6px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

@media (min-width: $medium-width) {
  .navigation-menu {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .navigation-menu__item:not(:last-child) {
    margin-right: 8px;
  }

  .navigation-menu__item:first-child .navigation-menu__link {
    border: 0;
  }

  .navigation-menu__link {
    position: relative;
    padding: 14px;
    font-size: 18px;
    line-height: math.div(24, 18);
    font-weight: 400;
    background-color: $transparent;
    border: 0;

    &--active::after {
      position: absolute;
      right: 14px;
      bottom: 4px;
      left: 14px;
      content: "";
      height: 2px;
      background-color: $color-nav-item-active;
    }

    &:focus-visible {
      outline-offset: 0;
    }
  }
}

@media (min-width: $large-width) {
  .navigation-menu {
    max-width: 600px;
    margin-top: 0;
  }

  .navigation-menu__link {
    padding: 14px;
    font-size: 20px;
    line-height: math.div(30, 20);
    color: $color-title-inverse;

    &--active::after {
      background-color: $color-nav-item-active-inverse;
    }

    &:hover {
      color: $color-title-inverse-hover;
    }

    &:active {
      color: $color-title-inverse-active;
    }

    .navigation-menu--inner & {
      color: $color-title;
    }

    .navigation-menu--inner &--active::after {
      background-color: $color-nav-item-active;
    }

    .navigation-menu--inner &:hover {
      color: $color-title-hover;
    }

    .navigation-menu--inner &:active {
      color: $color-title-active;
    }
  }
}
