.optionally__title {
  position: relative;
  margin: 0;
  padding: 20px 20px 28px 0;
  font-family: $font-secondary;
  font-style: normal;
  font-size: 24px;
  line-height: math.div(24, 24);
  font-weight: 400;
  color: $color-title;

  &::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $color-catalog-optionally-line;
    transform: translateX(-50%);
  }
}

.optionally__title-text {
  display: inline-block;
  padding: 6px 20px;
  background-color: $color-background;
}

.optionally__list {
  @include list-reset;
  margin: 0 20px 34px;
  border-top: 1px solid $color-catalog-optionally-border;
  border-bottom: 1px solid $color-catalog-optionally-border;
}

.optionally__offer {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 290px;
  margin: 0 20px 34px;
  background-color: $color-catalog-optionally-background;
  background-image:
    linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
    url("../img/decor/optionally-background-mobile.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  .no-webp & {
    background-image:
      linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
      url("../img/decor/optionally-background-mobile.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
      url("../img/decor/optionally-background-mobile@2x.webp");

    .no-webp & {
      background-image:
        linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
        url("../img/decor/optionally-background-mobile@2x.jpg");
    }
  }

  &::after {
    position: absolute;
    top: 59px;
    left: 50%;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/decor/gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-50%);
  }
}

.optionally__offer-text {
  margin: 0;
  margin-top: auto;
  padding: 43px 58px;
  font-size: 16px;
  line-height: math.div(20, 16);
  text-align: center;
  color: $color-text-inverse;
}

@media (min-width: $medium-width) {
  .optionally__title {
    margin-bottom: 52px;
    padding: 22px 30px;
    font-size: 36px;
    line-height: math.div(36, 36);

    &::after {
      top: 54%;
    }
  }

  .optionally__title-text {
    padding: 6px 36px;
  }

  .optionally__list {
    margin: 0 30px 68px;
    border: 1px solid $color-catalog-optionally-border;
  }

  .optionally__offer {
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    margin: 0 30px 76px;
    background-image:
      linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
      url("../img/decor/optionally-background-tablet.webp");

    .no-webp & {
      background-image:
        linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
        url("../img/decor/optionally-background-tablet.jpg");
    }

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
        url("../img/decor/optionally-background-tablet@2x.webp");

      .no-webp & {
        background-image:
          linear-gradient($color-catalog-optionally-mask, $color-catalog-optionally-mask),
          url("../img/decor/optionally-background-tablet@2x.jpg");
      }
    }

    &::after {
      top: 50%;
      left: 78px;
      width: 80px;
      height: 82px;
      transform: translateY(-50%);
    }
  }

  .optionally__offer-text {
    width: 50%;
    margin: 0;
    padding: 44px 100px 40px 69px;
    text-align: left;
  }
}
