.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;
  font-family: $font-main;
  font-style: normal;
  font-size: 14px;
  line-height: math.div(18, 14);
  font-weight: 400;
  color: $color-main;
  background-color: $color-background;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-width: $small-width;
  max-width: 100vw;
  min-height: 100%;
  overflow: hidden;
}
