.product {
  display: grid;
  grid-template-areas:
    "pr-image  pr-title      "
    "pr-image  pr-description"
    "pr-button pr-button     ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
  padding: 20px;
  padding-bottom: 24px;
}

.product__image-link {
  @include link-reset;
  grid-area: pr-image;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.product__picture {
  margin: 0;
}

.product__image {
  @include image-normalize;
  width: 140px;
  height: 112px;
}

.product__title {
  grid-area: pr-title;
  margin: 0;
  margin-bottom: 14px;
  padding-right: 42px;
  font-family: $font-secondary;
  font-style: normal;
  font-size: 16px;
  line-height: math.div(20, 16);
  font-weight: 400;
  text-transform: uppercase;
  color: $color-catalog-title;
}

.product__title-link {
  @include link-reset;
  display: inline-block;
  color: $color-catalog-title;

  &:hover {
    color: $color-catalog-title-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    color: $color-catalog-title-active;
    outline: none;
  }
}

.product__description {
  grid-area: pr-description;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 12px;
  line-height: math.div(16, 12);
}

.product__description-item {
  display: flex;
  justify-content: space-between;
}

.product__description-property {
  padding-right: 12px;
}

.product__description-value {
  margin: 0;
}

.product__button {
  grid-area: pr-button;
}

@media (min-width: $medium-width) {
  .product {
    grid-template-areas:
      "pr-image      "
      "pr-title      "
      "pr-description"
      "pr-button     ";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    padding: 8px 36px 39px;
    background-image: linear-gradient($color-background 16%, $color-catalog-background 16%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .product__image-link {
    margin-bottom: 22px;
  }

  .product__image {
    width: 168px;
    height: 200px;
  }

  .product__title {
    margin-bottom: 2px;
    padding: 10px 42px;
    font-size: 20px;
    line-height: math.div(24, 20);
    text-align: center;
  }

  .product__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: math.div(16, 16);
  }

  .product__description-item {
    border-bottom: 1px solid $color-catalog-description-border;
  }

  .product__description-property {
    padding: 9px 12px 7px 1px;
  }

  .product__description-value {
    padding: 9px 1px 7px 12px;
  }

  .product__button {
    margin: 0 2px;
  }
}

@media (min-width: $large-width) {
  .product {
    padding: 4px 38px 40px;
  }

  .product__image-link {
    margin-bottom: 35px;
  }

  .product__image {
    width: 172px;
    height: 196px;
  }

  .product__title {
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    line-height: math.div(21, 20);
  }
}
